a{
    color: white;
}
#title-banner{
    background-color: lightskyblue;
    background-image: url('https://t3.ftcdn.net/jpg/01/37/22/48/240_F_137224833_MTcalUgxQt8vUs2RMrNtxSgSmItDSv3f.jpg');
    background-size:contain;
    text-align: center;
    height: 120px;
}

#title-banner>h1,h3{
    font-style: italic;
    font-family: "Bebas Neue";
}

#title-banner>h3{
    text-align: left;
}

#title-banner>label{
    text-align: left;
    float: left;
}

#title-banner>button{
    text-align: left;
    float: left;
}

#title-banner>.navbar{
    text-align: right;
    font-size: larger;
    float: right;
    font-family: "Bebas Neue";
    margin-right: 20px;
    font-size: x-large;
}

.navbar ul{
    color:black;
    
}

#Thank-you{
    color: yellow;
    font-style: italic;
}

body{
    background-color: whitesmoke;
    background-image: url("https://cdn.wallpapersafari.com/63/27/grwaEK.png")
}

#products-container{
    background-image: url('https://a.rgbimg.com/users/p/pr/prawny/600/oGmeET6.jpg') ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 1650px;
    align-items: center;
    margin: auto;
    font-family: "Bebas Neue";
    /* margin-right: 2px */
    color: black;

}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Bebas Neue";
}
#container h1{
    font-family: "Bebas Neue";
    color:black;
    font-size: xxx-large;
}



.product-card{
    padding: 2px 16px;
    box-shadow: 0 0 3px rgba(190, 25, 25, 0.1);
    outline: 5px solid black;
    border: 1px solid black;
    background-color: white;
    width: 420px;
    height: 610px;
    margin: 20px;
    flex-shrink: 5;
    color: black;
}

#shopping-bag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('https://t3.ftcdn.net/jpg/01/37/22/48/240_F_137224833_MTcalUgxQt8vUs2RMrNtxSgSmItDSv3f.jpg');
    background-size: contain;
    color: black;
	font-size: 20px;
    text-shadow: beige;
}
#shopping-bag>h2{
    text-align: center;
    color: rgb(34, 34, 8);
	font-size: 20px;
    text-shadow: black
}
#total-price{
    font-size: 35px;
    color:rgb(2, 73, 2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration-line: underline;
}
.new-card{
    padding: 2px 16px;
    box-shadow: 0 0 3px rgba(190, 25, 25, 0.1);
    outline: 5px solid black;
    border: 1px solid black;
    background-color: white;
}
#bottom-container{
    background-image: url('https://t3.ftcdn.net/jpg/01/37/22/48/240_F_137224833_MTcalUgxQt8vUs2RMrNtxSgSmItDSv3f.jpg');
    font-family: "Bebas Neue";
    color: unset;
    font-size: larger;
}
.image{
    margin-left: 100px;
}

#checkout{
    margin-bottom: 20px;
}